body {
  margin: 0;
  background-color:#e2e2e2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#222222;
  height:50px;
  }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.notation{
  display: flex;
  float:left;
  width:35%;
  margin-left:1%;
  flex-direction: column;
  margin-right: 1%;
}
::placeholder{
  color:#c4c4c4;
}

textarea:focus{
  outline: none !important;
  border:1px solid #719ECE;
  box-shadow: 0 0 10px #719ECE;

}

.textbox{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #464d63;
  display: flex;
  width:100%;
  height:450px;
  resize:none;
  color: #e6eaf5;
  font-size: large;
}


.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
  color: #e6eaf5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width:100%;
  transition: all 100ms ease;
  background-color:#2bbc9b;
  height:50px;
  cursor:pointer;
  transition:200ms;
  font-size: large;
}

.btn:hover{
  background-color:#26a587;
}

.list{
  flex-direction: column;
  margin-left:5%;
  color: #e6eaf5;
  display: flex;
  width:55%;
  height:675px;
}

.opTitle{
  
  /*padding-bottom:25px;
  
  background-color: #2bbc9b;
  width:100%;
  border-radius: 10px;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border: none;
  background: none;
  color: #e6eaf5;
  border-radius: 10px;
  width:100%;
  transition: all 100ms ease;
  background-color:#2bbc9b;
  height:1000px;
  cursor:pointer;
  transition:200ms;
  font-size: large;
}
.opTitle:hover{
  background-color:#26a587;
}

/*.lichLink{
  text-decoration: none;
  color:#1d1e1f;
  padding-left: 2px;
  float: right;
  padding-right:5px;
  padding-bottom:4px;
  border-bottom-right-radius: 10px;
  background-color: #bcccd4;
  transition: all 100ms ease;
}*/

.moves{
  background-color: #464d63;
  width:100%;
}
.commonMove{
  vertical-align: middle;
  padding-left:3%;
  border-bottom: 1px solid #212224;
  color: #b3b5ba;
  height:40px;
}

.listNotation{
  display:inline-flex;
  padding-top:1%;
}

.goTo{
  float: right;
  padding: 0;
  border: none;
  background: none;
  border-bottom: 1px solid #212224;
  color: #e6eaf5;
  width:30%;
  transition: all 100ms ease;
  background-color:#2bbc9b;
  height:40px;
  cursor:pointer;
  transition:200ms;
  font-size: large;
}
.goTo:hover{
  background-color:#26a587;
}
.commonColon{
  display: inline-flex;
  color: #222222;
}